.Cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding: 20px;
  padding-right: 40px;
  background-color: #f5f5f5;

  h2 {
    margin: 0;
    font-size: 32px;
  }
}


.Cart-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 70px;
  padding: 20px;
  padding-right: 120px;
  font-size: 18px;
  font-weight: 600;
}

.Cart-total {
  min-width: 100px;
  text-align: right;
}

.Cart-empty {
  padding: 22px;
  text-align: center;
}